{% extends "admin_copies/base.html" %}
{% load admin_list i18n %}

{% block extrahead %}
  <script src="{{ STATIC_URL }}js/base_bootstrap/jquery-1.11.3.min.js"></script>
  <script>
    $(function(){

      $('#activate_view_notifications').click(function(){
        $.ajax({
          url: '{% url "activate_view_notifications" %}',
          dataType: 'text',
        });
      });

      $('#deactivate_view_notifications').click(function(){
        $.ajax({
          url: '{% url "deactivate_view_notifications" %}',
          dataType: 'text',
        });
      });

    });
  </script>
{% endblock %}

{% block messages %}
{% endblock messages %}

{% block pretitle %}
  <div class="object-tools">
    <a href="javascript:;" id='activate_view_notifications'>Отображать уведомления</a>
    <a href="javascript:;" id='deactivate_view_notifications'>Не отображать уведомления</a>
  </div>
{% endblock %}

