
<!DOCTYPE html>
<html lang="en">

  <head>    
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>Blog Template for Bootstrap</title>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base_bootstrap/bootstrap.min.css">        
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blog/blog.css">

    <script src="{{ STATIC_URL }}js/base_bootstrap/jquery-1.11.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/base_bootstrap/bootstrap.min.js"></script> 
  </head>

  <body cz-shortcut-listen="true">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>            
            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            <hr>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>          
          </div>
        </div>
        {% block sidebar %}
          {% include "popup/notifications.html" %}
        {% endblock %}
      </div>
    </div>
  </body>

</html>