  
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <br>
    <h4>Notifications</h4>

    <div class="sidebar-module sidebar-module-inset">  
      <a id='show_last_5_notifications' href="javascript:;">Show last 5 notifications</a>
      <br>
      <div id='for_last_5_notifications'></div>
    </div>

    <div id='for_notifications'></div>
  </div>
  
  <script>

    // разбираем полученный список уведомлений с тегами;
    // формируем уведомление нужного типа в зависимости от тега;
    // помещаем сформированное уведомление в нужное место на странице.
    function ParseNotifications(list_of_notifications, place_for_notifications){

      if (list_of_notifications.length) {

        $.each(list_of_notifications, function(index, notification){              
          var type_of_tag = '';
          var notification_text = '';
          $.each(notification, function(key, value) {
            if (key == 'tag') {
              type_of_tag = value;
            }  
            if (key == 'message') {
              notification_text = value;
            }                  
          });

          if (type_of_tag == 'error') {
            place_for_notifications.append('<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Danger! </strong>'+ notification_text +'</div>');
          }
          if (type_of_tag == 'warning') {
            place_for_notifications.append('<div class="alert alert-warning"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning! </strong>'+ notification_text +'</div>');
          }
          if (type_of_tag == 'info') {
            place_for_notifications.append('<div class="alert alert-info"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Info! </strong>'+ notification_text +'</div>');
          }
          if (type_of_tag == 'success') {
            place_for_notifications.append('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success! </strong>'+ notification_text +'</div>');
          }

        });
      }
    }

    // каждые 10 секунд создаются новые уведомления различных типов
    (function AutoCreateNotification(){
      setTimeout(function(){
      $.ajax({
        url: '{% url "auto_create_notifications" %}',        
        success: function(data){      
                                   
        },
        datatype: 'json',
        complete: AutoCreateNotification });
      }, 10000);
    })();  

    // используя long-poll, каждые 2 секунды проверяем, не пришло ли новых уведомлений;
    // если получили новые уведомления, то парсим их и выводим на страницу.
    (function GetNotification(){
      setTimeout(function(){
      $.ajax({
        url: '{% url "get_all_notifications" %}',        
        success: function(data){        
          var list_of_notifications = JSON.parse(data)
          ParseNotifications(list_of_notifications, $('#for_notifications'))
        },
        datatype: 'json',
        complete: GetNotification });
      }, 2000);
    })();

    $(function(){

      // выводим 5 последних уведомлений, хранящихся в сессии.
      $('#show_last_5_notifications').click(function(){
        $.ajax({
          url: '{% url "get_last_5_notifications" %}',
          dataType: 'text',
          success: function(data){       
            $('#for_last_5_notifications').empty();
            var list_of_notifications = JSON.parse(data)
            ParseNotifications(list_of_notifications, $('#for_last_5_notifications'))             
          } });
      })

    });

  </script>